<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="container">
      <!-- Contact -->
      <div class="clear row pad-bottom-50">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Contact</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Contact</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
            <div class="col-12 col-6-m pad-bottom-20">
              <h5>Phone</h5>
              {{site.data.about.phone}}
            </div>
            <div class="col-12 col-6-m pad-bottom-20">
              <h5>Website</h5>
              <a href="{{site.data.about.website}}">{{site.data.about.website}}</a>
            </div>
          </div>
          <div class="clear row">
            <div class="col-12">
              <h5>Address</h5>
              {{site.data.about.location.address}}
              ({{site.data.about.location.postalCode}})
              {{site.data.about.location.city}} <br>
              {{site.data.about.location.region}}, {{site.data.about.location.country}}
            </div>
          </div>
        </div>
      </div>

      <!-- About -->
      <div class="clear row pad-bottom-50">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">About</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">About</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          <div class="clear none block-m">
            <hr>
          </div>
          {{site.data.about.summary}}
        </div>
      </div>

      <!-- Profiles -->
      <div class="clear row pad-bottom-30">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Profiles</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Profiles</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
          {% for profile in site.data.profiles %}
            <div class="col-6 pad-bottom-20">
              <h4 class="fs-4">{{ profile.network }}</h4>
              <a href="{{ profile.link }}">{{ profile.username }}</a>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

      <!-- Work -->
      <div class="clear row">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Work</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Work</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          {% for work in site.data.works %}
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
            <div class="col-12 col-6-m">
              <h3 class="fs-3">{{ work.company }}</h3>
            </div>
            <div class="none block-m col-6-m">
              <span class="fs-4">{{ work.startDate }} — {{ work.endDate }}</span>
            </div>
          </div>
          <div class="clear row pad-bottom-20">
            <div class="none block-m col-6-m">
              <h5>{{ work.position }}</h5>
            </div>
            <div class="col-12 col-6-m">
              <a href="{{ work.website }}">{{ work.website }}</a>
            </div>
          </div>
          <div class="clear row none-m">
            <div class="col-12">
              <h5>{{ work.position }}</h5>
            </div>
            <div class="col-12">
              {{ work.startDate }} — {{ work.endDate }}
            </div>
          </div>
          <div class="clear row pad-top-20">
            <div class="col-12 pad-bottom-20">
              {{ work.summary }}
            </div>
            <div class="col-12 pad-bottom-30">
              <h5>Highlights</h5>
              <ul>
              {% for highlight in work.highlights %}
                <li>{{highlight}}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Volunteering -->
      <div class="clear row pad-bottom-20">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Volunteer</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Volunteer</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          {% for experience in site.data.volunteering %}
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
            <div class="col-12 col-6-m">
              <h3 class="fs-3">{{ experience.organization }}</h3>
            </div>
            <div class="none block-m col-6-m">
              {{ experience.startDate }} — {{ experience.endDate }}
            </div>
          </div>
          <div class="clear row pad-bottom-20">
            <div class="none block-m col-6-m">
              <h5>{{ experience.position }}</h5>
            </div>
            <div class="col-12 col-6-m">
              <a href="{{ experience.website }}">{{ experience.website }}</a>
            </div>
          </div>
          <div class="clear row none-m">
            <div class="col-12">
              <h5>{{ experience.position }}</h5>
            </div>
            <div class="col-12">
              {{ experience.startDate }} — {{ experience.endDate }}
            </div>
          </div>

          <div class="clear row pad-top-20">
            <div class="col-12 pad-bottom-20">
              {{ experience.summary }}
            </div>
            <div class="col-12 pad-bottom-10">
              <h5 class="font-600">Highlights</h5>
              <ul>
              {% for highlight in experience.highlights %}
                <li>{{highlight}}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Education -->
      <div class="clear row pad-bottom-20">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Education</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Education</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          {% for school in site.data.education %}
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row pad-bottom-20">
            <div class="col-12">
              <h3 class="fs-3">{{ school.institution }}</h3>
            </div>
            <div class="col-12">
              {{ school.studyType }} ({{ school.gpa }})
            </div>
          </div>
          <div class="clear row pad-bottom-20">
            <div class="col-12">
              <h5>{{ school.area }}</h5>
            </div>
            <div class="col-12">
              {{ school.startDate }} — {{ school.endDate }}
            </div>
          </div>
          <div class="clear row pad-bottom-10">
            <div class="col-12">
              <h5 class="font-600">Courses</h5>
              <ul>
              {% for course in school.courses %}
                <li>{{course}}</li>
              {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Awards -->
      <div class="clear row pad-bottom-50">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Awards</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Awards</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          {% for award in site.data.awards %}
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
            <div class="col-12 pad-bottom-20">
              <h3 class="fs-3">{{ award.awarder }}</h3>
            </div>
            <div class="col-12">
              <h5>{{ award.title }}</h5>
            </div>
          </div>
          <div class="clear row pad-bottom-20">
            <div class="col-12">
              {{ award.date }}
            </div>
            <div class="col-12"></div>
          </div>
          <div class="clear row">
            <div class="col-12">
              {{ award.summary }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Skills -->
      <div class="clear row pad-bottom-20">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Skills</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Skills</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
          {% for skill in site.data.skills %}
            <div class="col-12 col-6-m pad-bottom-10">
              <h3 class="fs-3">{{ skill.name }}</h3>
              <h5>{{ skill.level }}</h5>
              <ul>
              {% for keyword in skill.keywords %}
                <li>{{keyword}}</li>
              {% endfor %}
              </ul>
            </div>
            {% cycle '', '</div><div class="clear row">' %}
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Languages -->
      <div class="clear row pad-bottom-50">
        <div class="col-12 col-3-m">
          <h2 class="fs-2 font-500 none block-m text-right pad-top-10">Languages</h2>
          <h2 class="fs-2 font-500 none-m pad-top-10">Languages</h2>
          <hr class="none-m">
        </div>
        <div class="col-12 col-7-m">
          <div class="clear none block-m">
            <hr>
          </div>
          <div class="clear row">
          {% for language in site.data.languages %}
            <div class="col-12 col-6-m pad-bottom-20">
              <h4 class="fs-4">{{ language.name }}</h4>
              <h5 class="font-500">{{ language.level }}</h5>
            </div>
            {% cycle '', '</div><div class="clear row">' %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </body>

</html>
